# Compiled source #
###################
ve/usb/ldc/graphium/load/*.class
ve/usb/ldc/graphium/core/*.class
ve/usb/ldc/graphium/berlin/general/*.class
ve/usb/ldc/graphium/berlin/Neo4j/*.class
ve/usb/ldc/graphium/berlin/DEX/*.class

# Test directory #
##################
tests/

# Other Files #
###############
dex.log
