# Compiled source #
###################
ve/usb/graphdb/load/*.class
ve/usb/graphdb/core/*.class
ve/usb/graphdb/berlin/*.class

# Test directory #
##################
tests/

# Other Files #
###############
dex.log
