# Compiled source #
###################
ve/usb/ldc/graphium/load/*.class
ve/usb/ldc/graphium/core/*.class
ve/usb/ldc/graphium/berlin/*.class

# Test directory #
##################
tests/

# Other Files #
###############
dex.log
